body {
  overflow-x: hidden;
  font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p {
  line-height: 1.75;
}

a {
  color: #e60000;
}

a:hover {
  color: #660000;
}

.text-primary {
  color: #e60000 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section {
  padding: 10px 0;
}

section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section p.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.flipcountdown {
  text-shadow: none !important;
}

@media (min-width: 768px) {
  section {
    padding: 20px 0;
  }
}

.btn {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
  background-color: #e60000;
  border-color: #e60000;
  text-shadow: none;
}

.btn-secondary:active, .btn-secondary:focus {
  /* box-shadow: none; */
}

::-moz-selection {
  background: #ff5c33;
  text-shadow: none;
}

::selection {
  background: #ff5c33;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

.grayscaleImage {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.grayscaleImage:not(:hover) {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#mainNav {
  background-color: #212529;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: white;
  border: 0;
  background-color: #e60000;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-brand {
  color: #e60000;
  text-shadow: 2px 2px 2px #000;
  font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #e60000;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: #e60000;
  text-shadow: 1px 1px 1px #000;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color:  #ff5c33;
  font-weight: bold;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
}

header.masthead {
  text-align: center;
  color: white;
  text-shadow: 6px 6px 20px #000000;
  background-image: url("../img/trail/header-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header.masthead .intro-text {
  padding-top: 150px;
  padding-bottom: 100px;
}

header.masthead .intro-text .intro-lead-in {
  font-size: 22px;
  font-style: italic;
  line-height: 22px;
  margin-bottom: 25px;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header.masthead .intro-text .intro-heading {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 25px;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media (min-width: 768px) {
  header.masthead .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }
  header.masthead .intro-text .intro-lead-in {
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
    margin-bottom: 25px;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  header.masthead .intro-text .intro-heading {
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 50px;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
}

.service-heading {
  margin: 15px 0;
  text-transform: none;
}

.routesSection {
  padding-top: 30px;
  padding-bottom: 180px;
}

.spotifyItems a {
  color: #212529;
  /* padding: 100 0 100 0; */
  margin: 100px 0px 100px 0px;
}

.spotifyItems a:hover {
  color: #6c757d;
}

.team-member {
  margin-bottom: 50px;
  text-align: center;
}

.team-member img {
  width: 100%;
  max-height: 100%;
  border: 7px solid #fff;
}

.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}

.team-member h4::first-letter {
    font-family:'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
    font-size: 50px;
}

.team-member p {
  margin-top: 0;
}

section#contact {
  background-color: #212529;
  background-image: url("../img/map-image.png");
  background-repeat: no-repeat;
  background-position: center;
}

section#contact .section-heading {
  color: #fff;
}

section#contact .form-group {
  margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
}

section#contact .form-group input.form-control {
  height: auto;
}

section#contact .form-group textarea.form-control {
  height: 248px;
}

section#contact .form-control:focus {
  border-color: #fed136;
  box-shadow: none;
}

section#contact ::-webkit-input-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section#contact :-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
  /* Firefox 18- */
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section#contact ::-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
  /* Firefox 19+ */
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section#contact :-ms-input-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

footer {
  padding: 25px 0;
  text-align: center;
}

footer span.copyright {
  font-size: 80%;
  line-height: 40px;
  text-transform: none;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: #212529;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #e60000;
}

/*Countdown block */
  .table-responsive {
    display: inline-block;
    width: 100%;
    overflow: hidden;
  }

  .table td {
    max-width: 50px;
    overflow: hidden;
    color: #000;
  }

  #countdown a {
    color: #000;
  }

/* Media Queries for Responsive Countdown - table */
  @media (min-width: 420px) and (max-width: 520px){
    .table-responsive {
      width: 75%;
    }
  }

  @media (min-width: 521px) and (max-width: 768px){
    .table-responsive {
      max-width: 65%;
    }
  }

  @media (min-width: 768px) and (max-width: 992px){
    .table-responsive {
      max-width: 50%;
    }
  }

    @media (min-width: 992px){
      #countdown {
        position: absolute;
        right: 8%;
        bottom: 10%;
      }

      header {
        position: relative;
      }
    }

/*Google Maps */
    #cities {
    -webkit-appearance: button;
    -moz-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    background-position: center right;
    background-repeat: no-repeat;
    font-size: 23px;
    margin: 0;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-indent: 40%;
    }

    #cities:focus, #cities:active {
      box-shadow: none;
    }


    #right-panel {
      font-family: 'Roboto', 'sans-serif';
      line-height: 15px;
      font-size: 15px;
    }

    #map {
      height: 100%;
      float: left;
      width: 75%;
    }

    #right-panel input {
      font-size: 20px;
    }

    #right-panel {
      padding: 10px;
      border-width: 2px;
      width: 25%;
      height: 500px;
      float: left;
      text-align: left;
      border-left-style: solid;
      border-left-color: grey;
      overflow-y: scroll;
    }

    #directionsPanel {
      height: 500px;
      font-size: 12px;
    }

    #datePicker {
      font-weight: bold;
      padding: 10px 0 0 10px;
      text-align: center;
    }

    #datebtn span {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .col-centered {
      float: none;
      margin: 0 auto;
    }

    @media (max-width: 768px) {
      #map {
      width: 100%;
      }

      #right-panel {
        border-left-style: none;
        height: auto;
        text-align: center;
        width: 100%;
      }

    }

/* Display Quote - css */
    .quote {
      opacity: 0;
    }

    .quote.onDisplay {
      opacity: 1;
    }

/* Trail images */
.flatTrack,
.trailTrack,
.combinedTrack {
  width: 200px;
  height: 150px
}

/*Spotify iframes */
#searchResults {
  max-height: 400px;
  overflow-y: scroll;
}

#searchResults li {
    list-style-type: none;
    display: flex;
    align-items: center;
}

#searchResults img {
    width: 60px;
    height: 60px;
    padding: 3px;
    overflow: hidden;
}
